{
    "presets":[
        "react",
        ["env",{
            "targets":{
                "browsers":"last 2 versions"
            },
            "loose":true, //adding smaller bit of code and ignoring the edge case of es6,
            "modules":false,
        }]   
        ]
}