{
    "presets":[
        "react",
        "@babel/preset-env", "@babel/preset-react",
        ["env",{
            "targets":{
                "browsers":"last 2 versions"
            },
            "loose":true, //adding smaller bit of code and ignoring the edge case of es6,
            "modules":false,
        }]   
        ],
        "plugins": ["babel-plugin-transform-class-properties"]
        //with this plugin we dont have to write constructor inside class synatx
        ,
        //run this plugin in the test enviroment only
        "env":{
            "test":{
                "plugins":[
                    "babel-plugin-transform-es2015-modules-commonjs"
                ]
            }
        }
    }